<p>テーブル一覧です。</p>
<form action="?a=databases.tables&dbkey=<?= htmlspecialchars( $this->rencon->req()->get_param('dbkey') ); ?>" method="post">
<textarea name="db_sql" class="form-control"><?= htmlspecialchars( $this->rencon->req()->get_param('db_sql') ); ?></textarea>
<input type="submit" value="クエリを実行" class="btn btn-primary" />
</form>
<hr />


<?php
$results = $this->rencon->view()->get('result');
$affectedRows = $this->rencon->view()->get('affectedRows');
$lastInsertId = $this->rencon->view()->get('lastInsertId');
?>
<p><?= intval($affectedRows) ?> 件に影響</p>
<?php if( !is_null($lastInsertId) ){ ?>
<p>Insert ID: <?= intval($lastInsertId) ?></p>
<?php } ?>


<?php
if( !is_array($results) || !count($results) ){
	echo '<div><p>No results</p></div>'."\n";

}else{
	echo '<div class="table-responsive">'."\n";
	echo '<table class="table table-sm">'."\n";
	echo '<thead>'."\n";
	foreach($results as $result){
		echo '<tr>'."\n";
		foreach($result as $key=>$val){
			echo '<th>'.htmlspecialchars($key).'</th>'."\n";
		}
		echo '</tr>'."\n";
		break;
	}
	echo '</thead>'."\n";
	echo '<tbody>'."\n";
	foreach($results as $result){
		echo '<tr>'."\n";
		foreach($result as $key=>$val){
			echo '<td>'.htmlspecialchars($val).'</td>'."\n";
		}
		echo '</tr>'."\n";
	}
	echo '</tbody>'."\n";
	echo '</table>'."\n";
	echo '</div>'."\n";
	// var_dump( $results );
}

?>


<hr />
PDO ERROR:
<?php
var_dump( $this->rencon->view()->get('pdo_error_info') );
?>
<hr />
STH ERROR:
<?php
var_dump( $this->rencon->view()->get('pdo_sth_error_info') );
?>
<hr />
<p>a = <?= htmlspecialchars( $this->rencon->req()->get_param('a') ); ?></p>
<p>dbkey = <?= htmlspecialchars( $this->rencon->req()->get_param('dbkey') ); ?></p>
<p>PDO Driver: <?= htmlspecialchars( $this->rencon->view()->get('pdo_driver_name') ) ?></p>
<p>PDO Client Version: <?= htmlspecialchars( $this->rencon->view()->get('pdo_client_version') ) ?></p>
<p>PDO Server Info: <?= htmlspecialchars( $this->rencon->view()->get('pdo_server_info') ) ?></p>
<p>PDO Server Version: <?= htmlspecialchars( $this->rencon->view()->get('pdo_server_version') ) ?></p>
<hr />
<p><a href="?a=databases">戻る</a></p>
