<p>files app のビューです。</p>

<div id="finder1"></div>

<link rel="stylesheet" href="?res=remote-finder/remote-finder.css" />
<script src="?res=remote-finder/remote-finder.js"></script>
<script>
var remoteFinder = window.remoteFinder = new RemoteFinder(
	document.getElementById('finder1'),
	{
		"gpiBridge": function(input, callback){ // required
			console.log(input);
			var data = {
				'data': JSON.stringify(input)
			};
			var dataBody = Object.keys(data).map(function(key){ return key+"="+ encodeURIComponent(data[key]) }).join("&")
			console.log(dataBody);
			fetch("?a=files.rfgpi", {
				method: "post",
				headers: {
					'content-type': 'application/x-www-form-urlencoded'
				},
				body: dataBody
			}).then(function (response) {
				var contentType = response.headers.get('content-type').toLowerCase();
				if(contentType.indexOf('application/json') === 0 || contentType.indexOf('text/json') === 0) {
					response.json().then(function(json){
						callback(json);
					});
				} else {
					response.text().then(function(text){
						callback(text);
					});
				}
			}).catch(function (response) {
				console.log(response);
				callback(response);
			});
		},
		"open": function(fileinfo, callback){
			alert('ファイル ' + fileinfo.path + ' を開きました。');
			callback(true);
		},
		"mkdir": function(current_dir, callback){
			var foldername = prompt('Folder name:');
			if( !foldername ){ return; }
			callback( foldername );
			return;
		},
		"mkfile": function(current_dir, callback){
			var filename = prompt('File name:');
			if( !filename ){ return; }
			callback( filename );
			return;
		},
		"rename": function(renameFrom, callback){
			var renameTo = prompt('Rename from '+renameFrom+' to:', renameFrom);
			callback( renameFrom, renameTo );
			return;
		},
		"remove": function(path_target, callback){
			if( !confirm('Really?') ){
				return;
			}
			callback();
			return;
		},
		"mkdir": function(current_dir, callback){
			var foldername = prompt('Folder name:');
			if( !foldername ){ return; }
			callback( foldername );
			return;
		},
		"mkdir": function(current_dir, callback){
			var foldername = prompt('Folder name:');
			if( !foldername ){ return; }
			callback( foldername );
			return;
		}
	}
);
// console.log(remoteFinder);
remoteFinder.init('/', {}, function(){
	console.log('ready.');
});
</script>
