<div id="finder1"></div>

<link rel="stylesheet" href="?res=remote-finder/remote-finder.css" />
<script src="?res=remote-finder/remote-finder.js"></script>
<script>
var remoteFinder = window.remoteFinder = new RemoteFinder(
	document.getElementById('finder1'),
	{
		"gpiBridge": function(input, callback){ // required
			// console.log(input);
			var data = {
				'data': JSON.stringify(input)
			};
			var dataBody = Object.keys(data).map(function(key){ return key+"="+ encodeURIComponent(data[key]) }).join("&")
			// console.log(dataBody);
			fetch("?a=files.rfgpi", {
				method: "post",
				headers: {
					'content-type': 'application/x-www-form-urlencoded'
				},
				body: dataBody
			}).then(function (response) {
				response.json().then(function(json){
					callback(json);
				});
			}).catch(function (response) {
				console.error(response);
				callback(response);
			});
		},
		"open": function(fileinfo, callback){
			console.log(fileinfo);

			var templateSrc = atob(<?= var_export(base64_encode($this->rencon->resourceMgr()->get('templates/modal.html')), true) ?>);
			var $modal = $(templateSrc);
			// alert(templateSrc);
			var $okBtn = $('<button type="button" class="btn btn-primary">OK</button>');
			var $modalFooter = $modal.find('.modal-footer');
			$modalFooter.append($okBtn);

			$okBtn.on('click', function(){
				$modal.modal('hide');
			});

			$modal.on('hidden.bs.modal', function(){
				$modal.remove();
			});

			$modal.on('shown.bs.modal', function(){
				var data = {
					'path_file': fileinfo.path
				};
				var dataBody = Object.keys(data).map(function(key){ return key+"="+ encodeURIComponent(data[key]) }).join("&")
				console.log(dataBody);
				fetch("?a=files.getfile", {
					method: "post",
					headers: {
						'content-type': 'application/x-www-form-urlencoded'
					},
					body: dataBody
				}).then(function (response) {
					response.json().then(function(json){
						console.log(json);
						$modal.find('.modal-title').text(json.basename);
						if(json.mime.match( /^image\//i )){
							var $div = $('<div><img /></div>');
							$div.find('img').attr( 'src', 'data:'+json.mime+';base64,'+json.base64 ).css({'width': '100%'});
							$modal.find('.modal-body').append($div);
						}else{
							var $pre = $('<pre><code></code></pre>');
							$pre.find('code').text( decodeURIComponent( escape( atob(json.base64) ) ) );
							$modal.find('.modal-body').append($pre);
						}
						// window.open('data:'+json.mime+';base64,'+json.base64);
						callback(true);
					});
				}).catch(function (response) {
					console.error(response);
					callback(false);
				});
			});

			$('body').append($modal);
			$modal.modal({});
			return;
		},
		"mkdir": function(current_dir, callback){
			var foldername = prompt('Folder name:');
			if( !foldername ){ return; }
			callback( foldername );
			return;
		},
		"mkfile": function(current_dir, callback){
			var filename = prompt('File name:');
			if( !filename ){ return; }
			callback( filename );
			return;
		},
		"rename": function(renameFrom, callback){
			var renameTo = prompt('Rename from '+renameFrom+' to:', renameFrom);
			callback( renameFrom, renameTo );
			return;
		},
		"remove": function(path_target, callback){
			if( !confirm(path_target + 'を削除しようとしています。 本当に削除してよろしいですか？') ){
				return;
			}
			callback();
			return;
		},
		"mkdir": function(current_dir, callback){
			var foldername = prompt('Folder name:');
			if( !foldername ){ return; }
			callback( foldername );
			return;
		},
		"mkdir": function(current_dir, callback){
			var foldername = prompt('Folder name:');
			if( !foldername ){ return; }
			callback( foldername );
			return;
		}
	}
);
// console.log(remoteFinder);
<?php
$current_dir = __DIR__.DIRECTORY_SEPARATOR;
if( realpath($this->rencon->conf()->files_path_root) !== realpath('/') ){
	$current_dir = '/';
}
?>
remoteFinder.init(<?= var_export($current_dir, true) ?>, {}, function(){
	console.log('ready.');
});
</script>
